/* cabeçalho */

.container {
    display: flex;
    border: 1px solid rgb(194, 186, 186);
    background-color: rgb(58, 145, 51);
    width: 800px;
    margin: 0 90px 0px 150px;
    padding: 40px 0px 0px 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 20px 0px 20px 0px;
    border: none;
}
.logo {
    display: inline-flex;
    width: 100px;
    height: 100px;
    border-radius: 300px;
    text-align: center;    
}

.title .subtitle{
    padding: 10px;    
}

.title, .subtitle{
    display: flex;
    color: white;
    font-size: 16pt;
}

a, .subtitle, p{
    padding-left: 100px;
}

.container, a, p{
    color: white;
    text-decoration: none;
    font-size: 16pt;
}

/* footer */
.rodape {
    color: rgb(67, 68, 67);
    text-align: center;
    padding-top: 10px;
    font-size: 10pt;
}


@media screen and(max-width: 315px) {

    header, .container, .logo, .banner {
        width: auto;               
    }

    li {
        text-align: center;
                
    }

    .links{
        position: static;
    }
}